body{
    background:rgb(206, 204, 204);
}

#hist p{
    text-align: center;
    margin-top: 200px;
}

.th1 p{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}