body{
    background: rgb(194, 192, 192);
}

#transfoot p{
    margin-top: 400px;
    text-align: center;
}

.font-weight-bold{
    margin-left: 45px;
    font-weight: 700;
    font-size: 28px;
}

.heading li{
    font-size: 32px;
    display: inline-block;
    margin-left: 160px;
    margin-right: 200px;
    text-transform: uppercase;
}

.transferbut {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 11px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    width: 100px;
    position: absolute;
    margin: -25px 0 0 -50px;
    left: 50%;
    top: 70%;
}

.transferbut:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rightdiv {
    float: left;
    padding-right: 150px;
    width: 51%;
}

.leftdiv {
    float: left;
    padding-right: 220px;
    padding-left: 150px;
}

@media screen and (max-width: 500px) {
  
    .leftdiv,
    .rightdiv {
        width: 70%;
    }
}